In [1]:
import pandas as pd

# Load the datasets
brands_df = pd.read_json('d:/data/brands.json', lines=True)
receipts_df = pd.read_json('d:/data/receipts.json', lines=True)
users_df = pd.read_json('d:/data/users.json', lines=True)
print(brands_df) 
print(receipts_df)
print(users_df)

                                       _id       barcode            category  \
0     {'$oid': '601ac115be37ce2ead437551'}  511111019862              Baking
1     {'$oid': '601c5460be37ce2ead43755f'}  511111519928           Beverages
2     {'$oid': '601ac142be37ce2ead43755d'}  511111819905              Baking
3     {'$oid': '601ac142be37ce2ead43755a'}  511111519874              Baking
4     {'$oid': '601ac142be37ce2ead43755e'}  511111319917      Candy & Sweets
...                                    ...           ...                 ...
1162  {'$oid': '5f77274dbe37ce6b592e90c0'}  511111116752              Baking
1163  {'$oid': '5dc1fca91dda2c0ad7da64ae'}  511111706328  Breakfast & Cereal
1164  {'$oid': '5f494c6e04db711dd8fe87e7'}  511111416173      Candy & Sweets
1165  {'$oid': '5a021611e4b00efe02b02a57'}  511111400608             Grocery
1166  {'$oid': '6026d757be37ce6369301468'}  511111019930              Baking

          categoryCode                                                cpg  \
0               BAKING  {'$id': {'$oid': '601ac114be37ce2ead437550'}, ...
1            BEVERAGES  {'$id': {'$oid': '5332f5fbe4b03c9a25efd0ba'}, ...
2               BAKING  {'$id': {'$oid': '601ac142be37ce2ead437559'}, ...
3               BAKING  {'$id': {'$oid': '601ac142be37ce2ead437559'}, ...
4     CANDY_AND_SWEETS  {'$id': {'$oid': '5332fa12e4b03c9a25efd1e7'}, ...
...                ...                                                ...
1162            BAKING  {'$ref': 'Cogs', '$id': {'$oid': '5f77274dbe37...
1163               NaN  {'$ref': 'Cogs', '$id': {'$oid': '53e10d6368ab...
1164  CANDY_AND_SWEETS  {'$ref': 'Cogs', '$id': {'$oid': '5332fa12e4b0...
1165               NaN  {'$ref': 'Cogs', '$id': {'$oid': '5332f5f6e4b0...
1166            BAKING  {'$id': {'$oid': '6026d757be37ce6369301467'}, ...

                           name  topBrand                      brandCode
0     test brand @1612366101024       0.0                            NaN
1                     Starbucks       0.0                      STARBUCKS
2     test brand @1612366146176       0.0  TEST BRANDCODE @1612366146176
3     test brand @1612366146051       0.0  TEST BRANDCODE @1612366146051
4     test brand @1612366146827       0.0  TEST BRANDCODE @1612366146827
...                         ...       ...                            ...
1162  test brand @1601644365844       NaN                            NaN
1163        Dippin DotsÂ® Cereal       NaN             DIPPIN DOTS CEREAL
1164  test brand @1598639215217       NaN  TEST BRANDCODE @1598639215217
1165          LIPTON TEA Leaves       0.0              LIPTON TEA Leaves
1166  test brand @1613158231643       0.0  TEST BRANDCODE @1613158231644

[1167 rows x 8 columns]
                                       _id  bonusPointsEarned  \
0     {'$oid': '5ff1e1eb0a720f0523000575'}              500.0
1     {'$oid': '5ff1e1bb0a720f052300056b'}              150.0
2     {'$oid': '5ff1e1f10a720f052300057a'}                5.0
3     {'$oid': '5ff1e1ee0a7214ada100056f'}                5.0
4     {'$oid': '5ff1e1d20a7214ada1000561'}                5.0
...                                    ...                ...
1114  {'$oid': '603cc0630a720fde100003e6'}               25.0
1115  {'$oid': '603d0b710a720fde1000042a'}                NaN
1116  {'$oid': '603cf5290a720fde10000413'}                NaN
1117  {'$oid': '603ce7100a7217c72c000405'}               25.0
1118  {'$oid': '603c4fea0a7217c72c000389'}                NaN

                                bonusPointsEarnedReason  \
0     Receipt number 2 completed, bonus point schedu...
1     Receipt number 5 completed, bonus point schedu...
2                            All-receipts receipt bonus
3                            All-receipts receipt bonus
4                            All-receipts receipt bonus
...                                                 ...
1114                        COMPLETE_NONPARTNER_RECEIPT
1115                                                NaN
1116                                                NaN
1117                        COMPLETE_NONPARTNER_RECEIPT
1118                                                NaN

                    createDate               dateScanned  \
0     {'$date': 1609687531000}  {'$date': 1609687531000}
1     {'$date': 1609687483000}  {'$date': 1609687483000}
2     {'$date': 1609687537000}  {'$date': 1609687537000}
3     {'$date': 1609687534000}  {'$date': 1609687534000}
4     {'$date': 1609687506000}  {'$date': 1609687506000}
...                        ...                       ...
1114  {'$date': 1614594147000}  {'$date': 1614594147000}
1115  {'$date': 1614613361873}  {'$date': 1614613361873}
1116  {'$date': 1614607657664}  {'$date': 1614607657664}
1117  {'$date': 1614604048000}  {'$date': 1614604048000}
1118  {'$date': 1614565354962}  {'$date': 1614565354962}

                  finishedDate                modifyDate  \
0     {'$date': 1609687531000}  {'$date': 1609687536000}
1     {'$date': 1609687483000}  {'$date': 1609687488000}
2                          NaN  {'$date': 1609687542000}
3     {'$date': 1609687534000}  {'$date': 1609687539000}
4     {'$date': 1609687511000}  {'$date': 1609687511000}
...                        ...                       ...
1114                       NaN  {'$date': 1614594148000}
1115                       NaN  {'$date': 1614613361873}
1116                       NaN  {'$date': 1614607657664}
1117                       NaN  {'$date': 1614604049000}
1118                       NaN  {'$date': 1614565354962}

             pointsAwardedDate  pointsEarned              purchaseDate  \
0     {'$date': 1609687531000}         500.0  {'$date': 1609632000000}
1     {'$date': 1609687483000}         150.0  {'$date': 1609601083000}
2                          NaN           5.0  {'$date': 1609632000000}
3     {'$date': 1609687534000}           5.0  {'$date': 1609632000000}
4     {'$date': 1609687506000}           5.0  {'$date': 1609601106000}
...                        ...           ...                       ...
1114                       NaN          25.0  {'$date': 1597622400000}
1115                       NaN           NaN                       NaN
1116                       NaN           NaN                       NaN
1117                       NaN          25.0  {'$date': 1597622400000}
1118                       NaN           NaN                       NaN

      purchasedItemCount                             rewardsReceiptItemList  \
0                    5.0  [{'barcode': '4011', 'description': 'ITEM NOT ...
1                    2.0  [{'barcode': '4011', 'description': 'ITEM NOT ...
2                    1.0  [{'needsFetchReview': False, 'partnerItemId': ...
3                    4.0  [{'barcode': '4011', 'description': 'ITEM NOT ...
4                    2.0  [{'barcode': '4011', 'description': 'ITEM NOT ...
...                  ...                                                ...
1114                 2.0  [{'barcode': 'B076FJ92M4', 'description': 'mue...
1115                 NaN                                                NaN
1116                 NaN                                                NaN
1117                 2.0  [{'barcode': 'B076FJ92M4', 'description': 'mue...
1118                 NaN                                                NaN

     rewardsReceiptStatus  totalSpent                    userId
0                FINISHED       26.00  5ff1e1eacfcf6c399c274ae6
1                FINISHED       11.00  5ff1e194b6a9d73a3a9f1052
2                REJECTED       10.00  5ff1e1f1cfcf6c399c274b0b
3                FINISHED       28.00  5ff1e1eacfcf6c399c274ae6
4                FINISHED        1.00  5ff1e194b6a9d73a3a9f1052
...                   ...         ...                       ...
1114             REJECTED       34.96  5fc961c3b8cfca11a077dd33
1115            SUBMITTED         NaN  5fc961c3b8cfca11a077dd33
1116            SUBMITTED         NaN  5fc961c3b8cfca11a077dd33
1117             REJECTED       34.96  5fc961c3b8cfca11a077dd33
1118            SUBMITTED         NaN  5fc961c3b8cfca11a077dd33

[1119 rows x 15 columns]
                                      _id  active               createdDate  \
0    {'$oid': '5ff1e194b6a9d73a3a9f1052'}    True  {'$date': 1609687444800}
1    {'$oid': '5ff1e194b6a9d73a3a9f1052'}    True  {'$date': 1609687444800}
2    {'$oid': '5ff1e194b6a9d73a3a9f1052'}    True  {'$date': 1609687444800}
3    {'$oid': '5ff1e1eacfcf6c399c274ae6'}    True  {'$date': 1609687530554}
4    {'$oid': '5ff1e194b6a9d73a3a9f1052'}    True  {'$date': 1609687444800}
..                                    ...     ...                       ...
490  {'$oid': '54943462e4b07e684157a532'}    True  {'$date': 1418998882381}
491  {'$oid': '54943462e4b07e684157a532'}    True  {'$date': 1418998882381}
492  {'$oid': '54943462e4b07e684157a532'}    True  {'$date': 1418998882381}
493  {'$oid': '54943462e4b07e684157a532'}    True  {'$date': 1418998882381}
494  {'$oid': '54943462e4b07e684157a532'}    True  {'$date': 1418998882381}

                    lastLogin         role signUpSource state
0    {'$date': 1609687537858}     consumer        Email    WI
1    {'$date': 1609687537858}     consumer        Email    WI
2    {'$date': 1609687537858}     consumer        Email    WI
3    {'$date': 1609687530597}     consumer        Email    WI
4    {'$date': 1609687537858}     consumer        Email    WI
..                        ...          ...          ...   ...
490  {'$date': 1614963143204}  fetch-staff          NaN   NaN
491  {'$date': 1614963143204}  fetch-staff          NaN   NaN
492  {'$date': 1614963143204}  fetch-staff          NaN   NaN
493  {'$date': 1614963143204}  fetch-staff          NaN   NaN
494  {'$date': 1614963143204}  fetch-staff          NaN   NaN

[495 rows x 7 columns]

In [5]:
import pandas as pd

# Load the datasets
brands_df = pd.read_json('d:/data/brands.json', lines=True)
receipts_df = pd.read_json('d:/data/receipts.json', lines=True)
users_df = pd.read_json('d:/data/users.json', lines=True)

# Function to convert unhashable columns to strings
def convert_unhashable_columns(df):
    for column in df.columns:
        # Check if the first element of the column is a list or dict, indicative of the entire column's type
        if df[column].apply(lambda x: isinstance(x, dict) or isinstance(x, list)).any():
            df[column] = df[column].apply(lambda x: str(x) if isinstance(x, dict) or isinstance(x, list) else x)
    return df


brands_df = convert_unhashable_columns(brands_df)
receipts_df = convert_unhashable_columns(receipts_df)
users_df = convert_unhashable_columns(users_df)
# Check for Duplicates
print("Brands duplicates:", brands_df.duplicated().sum())
print("Receipts duplicates:", receipts_df.duplicated().sum())
print("Users duplicates:", users_df.duplicated().sum())

Brands duplicates: 0
Receipts duplicates: 0
Users duplicates: 283

In [6]:
# Check for missing values

print("Brands missing values:\n", brands_df.isnull().sum(), "\n")
print("Receipts missing values:\n", receipts_df.isnull().sum(), "\n")
print("Users missing values:\n", users_df.isnull().sum(), "\n")

Brands missing values:
 _id               0
barcode           0
category        155
categoryCode    650
cpg               0
name              0
topBrand        612
brandCode       234
dtype: int64

Receipts missing values:
 _id                          0
bonusPointsEarned          575
bonusPointsEarnedReason    575
createDate                   0
dateScanned                  0
finishedDate               551
modifyDate                   0
pointsAwardedDate          582
pointsEarned               510
purchaseDate               448
purchasedItemCount         484
rewardsReceiptItemList     440
rewardsReceiptStatus         0
totalSpent                 435
userId                       0
dtype: int64

Users missing values:
 _id              0
active           0
createdDate      0
lastLogin       62
role             0
signUpSource    48
state           56
dtype: int64

In [13]:
print(users_df['createdDate'].head())
print(users_df['lastLogin'].head())

0    {'$date': 1609687444800}
1    {'$date': 1609687444800}
2    {'$date': 1609687444800}
3    {'$date': 1609687530554}
4    {'$date': 1609687444800}
Name: createdDate, dtype: object
0    {'$date': 1609687537858}
1    {'$date': 1609687537858}
2    {'$date': 1609687537858}
3    {'$date': 1609687530597}
4    {'$date': 1609687537858}
Name: lastLogin, dtype: object

In [19]:
def extract_date_ms(column):
    def extract(x):
        # Check if x is a dictionary, has '$date' key, and the value is not None
        if isinstance(x, dict) and '$date' in x and x['$date'] is not None:
            return x['$date']
        # Return None if x does not meet the criteria to avoid conversion errors
        return None
    return column.apply(extract)

# Apply the function to 'createdDate' and 'lastLogin', converting to datetime
users_df['createdDate'] = pd.to_datetime(extract_date_ms(users_df['createdDate']), unit='ms')
users_df['lastLogin'] = pd.to_datetime(extract_date_ms(users_df['lastLogin']), unit='ms')

# Find any rows where lastLogin is before createdDate
anomalies = users_df[users_df['lastLogin'] < users_df['createdDate']]
print("Anomalies where lastLogin is before createdDate:", len(anomalies))

# Displaying the first few rows for 'createdDate' and 'lastLogin' to verify
print(users_df['createdDate'].head())
print(users_df['lastLogin'].head())

Anomalies where lastLogin is before createdDate: 0
0   NaT
1   NaT
2   NaT
3   NaT
4   NaT
Name: createdDate, dtype: datetime64[ns]
0   NaT
1   NaT
2   NaT
3   NaT
4   NaT
Name: lastLogin, dtype: datetime64[ns]

In [20]:
# Detailed Data Quality Evaluation
valid_states = ["AL", "AK", "AZ", "AR", "CA", "CO", "CT", "DE", "FL", "GA", "HI", "ID", "IL", "IN", "IA", "KS", "KY", "LA", "ME", "MD", "MA", "MI", "MN", "MS", "MO", "MT", "NE", "NV", "NH", "NJ", "NM", "NY", "NC", "ND", "OH", "OK", "OR", "PA", "RI", "SC", "SD", "TN", "TX", "UT", "VT", "VA", "WA", "WV", "WI", "WY"]
invalid_states_users = users_df[~users_df['state'].isin(valid_states)]
print(f"Users with invalid state codes: {len(invalid_states_users)}")

Users with invalid state codes: 56

In [22]:
# Numerical Data Outliers
receipts_df['totalSpent'].describe()

count     684.000000
mean       77.796857
std       347.110349
min         0.000000
25%         1.000000
50%        18.200000
75%        34.960000
max      4721.950000
Name: totalSpent, dtype: float64